<form class="" action="/landmarks/new" method="post">
  <label for="">Landmark Name:</label>
  <input type="text" name="landmark[name]" id="landmark_name" value="">

  <br></br>

  <label for="">Year Completed: </label>
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed" value="">

  <br></br>

  <input type="submit" name="" value="Create New Landmark">

</form>
 